<div class="form-group">
    <div class="row">
        <div class="col-6">
            <label for="{{code}}">{{title}}</label>
        </div>
        <div class="col-6">
            <select id="{{code}}" name="{{code}}" class="form-control">
                {{# values}}
                <option value="{{_id}}">{{title}}</option>
                {{/values}}
            </select>
        </div>
    </div>

</div>

