<table class="table table-bordered table-hover-td table-dark" >
    <thead>
    {{#each columns}}
        <th  data-key="{{code}}">{{title}}</th>
    {{/each}}
    </thead>
    <tbody>
    {{#each items as |value key|}}
    <tr data-id="{{value._id}}">
        {{#each ../columns as |cvalue ckey|}}
        <td data-code="{{cvalue.code}}" data-id="{{../lookup value cvalue.code '_id'}}" class="c-pointer">{{../lookup value cvalue.code 'title'}}</td>
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>